# This is a basic workflow to help you get started with Actions

name: Trigger cron

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  schedule:
    - cron: '10 04 * * *'
  workflow_dispatch:  

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    env:
      ORG_NAME: vishuhanda
      REPO_NAME: browserstacknewappium
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # setting up pip
      - name: run module based on cron
        if: github.event.schedule == '10 04 * * *'
        uses: peter-evans/repository-dispatch@v2
        with:
          token: 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
          repository: vishuhanda/browserstacknewappium
          event-type: "module_wise_automation_suite"
          client-payload: '{"module_name": "credential_holders"}'



